.roulette-wheel {
  position: relative;
  width: 200px;
  height: 60px;
  margin: 0 auto;
  border: 3px solid skyblue;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.roulette-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(1, 170, 1);
}
