.weather-fortune {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.fortune-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(260, 130, 0, 0.3);
  padding: 15px;
  text-align: center;
}

.fortune-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 0.8rem;
  color: green;
}

.weather-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.combined-image {
  width: 80px;
  height: 80px;
}

.weather-symbol {
  margin: 0 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
}

.fortune-clovers {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 5px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

.clover {
  color: lightgreen;
  margin: 0 2px;
}

.clover.filled {
  opacity: 1;
}

.clover.empty {
  opacity: 0.3;
}

.fortune-message {
  margin: 0px;
  margin-bottom: 10px;
  color: rgb(1, 170, 1);
  font-weight: bold;
  line-height: 1.5;
  padding: 10px;
  background-color: #ffffde;
  border-radius: 10px;
}
